# Model Training

# Imports

In [2]:
import pandas as pd

# Import Data

In [3]:
X_train = pd.read_csv('../data/processed/X_train.csv')
y_train = pd.read_csv('../data/processed/y_train.csv')

name_df = X_train[['Name']]
X_train = X_train.drop(columns='Name')

In [4]:
X_train.head()

,Title,Sex_encoded,AgeBin,SibSp,Parch,Pclass,FareBin,Embarked
0,Mr.,1,"(16.0, 32.0]",1,0,3,"(3.492, 131.0]",S
1,Mrs.,0,"(32.0, 48.0]",1,0,1,"(3.492, 131.0]",C
2,Miss.,0,"(16.0, 32.0]",0,0,3,"(3.492, 131.0]",S
3,Mrs.,0,"(32.0, 48.0]",1,0,1,"(3.492, 131.0]",S
4,Mr.,1,"(32.0, 48.0]",0,0,3,"(3.492, 131.0]",S

In [5]:
y_train.head()

   Survived
0         0
1         1
2         1
3         1
4         0

In [6]:
name_df.head()

                                                Name
0                            Braund, Mr. Owen Harris
1  Cumings, Mrs. John Bradley (Florence Briggs Th...
2                             Heikkinen, Miss. Laina
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                           Allen, Mr. William Henry

# Preprocessing

Now that we have all of the features we want for training, we need to do a bit more preprocessing to ensure the data is ready to be modelled. The table below describes what preprocessing is required for each feature we are using:

| Feature       | Preprocessing     | Reasoning                                             |
|---------------|-------------------|-------------------------------------------------------|
| Title         | One-Hot Encoding  | There are a finite number of discrete possibilities   |
| Sex_encoded   | N/A               | Already encoded as a binary variable                  |
| AgeBin        | Ordinal Encoding  | There is an inherent order to age (young -> old)      |
| SibSp         | One-Hot Encoding  | There are a finite number of discrete possibilities   |
| Parch         | One-Hot Encoding  | There are a finite number of discrete possibilities   |
| Pclass        | Ordinal Encoding  | There is an inherent order to class (low -> high)     |
| FareBin       | Ordinal Encoding  | There is an inherant order to fare (low -> high)      |
| Embarked      | One-Hot Encoding  | There are a finite number of discrete possibilities   |

In [ ]:
one_hot_cols = ['Title', 'SibSp', 'Parch', 'Embarked']
ordinal_cols = ['AgeBin', 'Pclass', 'FareBine']